* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

img,
a {
    -webkit-touch-callout: none;
}

a {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
}

@media screen and (max-width:600px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 7px;
    }
}

body {
    width: 100%;
    min-width: 340px;
    max-width: 700px;
    margin: 0 auto;
    background-color: rgb(244, 244, 244);
}

header {
    background: rgb(253, 221, 96);
    padding-inline: 20px;
}

header .top {
    display: flex;
    justify-content: space-between;
    height: 6.42rem;
}

header .top div {
    display: flex;
    align-items: center;
}

header .top div:first-child img,
header .top div:last-child img {
    width: 2.57rem;
    height: 4.28rem;
}

header .top div:nth-child(2) img {
    width: 28.57rem;
    height: 5.42rem;
}

header .bot {
    padding-block: 10px;
}

header .bot div {
    background: white;
    height: 5rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
}

header .bot div i {
    width: 3.57rem;
    height: 3.57rem;
    background-color: pink;
    background: url(../images/header4.png) no-repeat center;
    background-size: cover;
}

header .bot div input {
    height: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
    flex: 1;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav ul li {
    width: 20%;
    height: 10rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.71rem;
}

nav ul li img {
    width: 6.14rem;
    height: 6.14rem;
}

article .top {
    display: flex;
    padding-inline: 10px;
    gap: 1.5rem;
    margin-top: 20px;
}

article .top .left {
    flex: 1;
}

article .top .right {
    flex: 1;
}

article .top div div {
    width: 100%;
    height: 14.8rem;
    border-radius: 1rem;
}

article .top .left div,
article .top .right div {
    position: relative;
    background: url(../images/articletop1.png);
    background-size: cover;
    height: 15rem;
    margin-top: 1rem;
}

article .top .left div a:first-child,
article .top .right div a:first-child {
    position: absolute;
    bottom: 3px;
    left: 2rem;
    float: left;
    background: url(../images/articletop1.1.jpg) no-repeat center;
    background-size: cover;
    width: 9.2rem;
    height: 9.2rem;
}

article .top .left div a span,
article .top .right div a span {
    display: block;
    background-color: rgb(255, 210, 210);
    padding-inline: 7px;
    line-height: 2rem;
    text-align: center;
    border-radius: 1rem;
    color: red;
    position: absolute;
    bottom: 0px;
    left: 50%;
    translate: -50%;
}

article .top .left div a:last-child,
article .top .right div a:last-child {
    position: absolute;
    bottom: 3px;
    right: 2rem;
    float: left;
    background: url(../images/articletop1.2.jpg) no-repeat center;
    background-size: cover;
    width: 9.2rem;
    height: 9.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: white;
}

footer ul {
    display: flex;
}

footer ul li {
    display: flex;
    flex: 1;
    height: 7rem;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer ul li img {
    width: 3rem;
    height: 3rem;
}